<p class="title">{{usersData.Firstname}}<br>{{usersData.Lastname}}</p>
<div id="banner" style="background-image: url('assets/img/{{usersData.DotColor}}.png');"></div>

<div class="info">

  <img src="../../assets/img/profile.png" alt="me">

  <div class="info-heads">

    <div class="info-head">

      <h1>Hobbies</h1>
      <p>{{usersData.Hobbies}}</p>

    </div>

    <div class="info-head">

      <h1>Degrees</h1>
      <p>{{usersData.Degrees}}</p>

    </div>

    <div class="info-head">

      <h1>Skills</h1>
      <p>{{usersData.Skills}}</p>

    </div>

    <div class="info-head">

      <h1>Job experience</h1>
      <p>{{usersData.JobExperience}}</p>

    </div>
    
    <div class="info-head">

      <h1>Personal information</h1>
      <p>{{usersData.PersonalInformation}}</p>

      </div>

  </div>

</div>

<div class="pictures">

    <div class="picture-row">

        <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>
    
          <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>
    
          <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>

    </div>

    <div class="picture-row">

        <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>
    
          <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>

    </div>

</div>

<div style="padding: 1px;"></div>