<p class="title">Noor<br>Margana</p>
<div id="banner"></div>

<div class="info">

  <img src="../../assets/img/profile.png" alt="me">

  <div class="info-heads">

    <div class="info-head">

      <h1>Hobbies</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur felis et tristique aliquam. Praesent imperdiet turpis eget velit cursus, ac commodo ex venenatis.</p>

    </div>

    <div class="info-head">

      <h1>Degrees</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur felis et tristique aliquam. Praesent imperdiet turpis eget velit cursus, ac commodo ex venenatis.</p>

    </div>

    <div class="info-head">

      <h1>Skills</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur felis et tristique aliquam. Praesent imperdiet turpis eget velit cursus, ac commodo ex venenatis.</p>

    </div>

    <div class="info-head">

      <h1>Job experience</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur felis et tristique aliquam. Praesent imperdiet turpis eget velit cursus, ac commodo ex venenatis.</p>

    </div>
    
    <div class="info-head">

      <h1>Personal information</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur felis et tristique aliquam. Praesent imperdiet turpis eget velit cursus, ac commodo ex venenatis.</p>

      </div>

  </div>

</div>

<div class="pictures">

    <div class="picture-row">

        <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>
    
          <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>
    
          <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>

    </div>

    <div class="picture-row">

        <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>
    
          <div class="picture" cdkDrag>
            <img src="../../assets/img/black.png" width="180px" height="180px" alt="picture">
          </div>

    </div>

</div>